:root {
  --body-background-color: #001716 !important;
  --body-text-color: #f0ffff !important;
  --card-background-color: #002b29 !important;
  --nav-background-color: #002b29 !important;
  --nav-border-bottom-color: #015450 !important;
  --nav-current-border-bottom-color: #1abc9c !important;
  --card-border-color: #015450 !important;
  --down-border-left-color: #eb3b5a !important;
  --down-background-color: #6b1020 !important;
  --degraded-border-left-color: #f7b731 !important;
  --up-border-left-color: #20bf6b !important;
  --tag-color: #002b29 !important;
  --tag-up-background-color: #20bf6b !important;
  --tag-down-background-color: #eb3b5a !important;
  --tag-degraded-background-color: #f7b731 !important;
  --change-background-color: #f7b731 !important;
  --error-button-border-color: #1a46ad !important;
  --error-button-background-color: #3867d6 !important;
  --error-button-color: #ffffff !important;
  --submit-button-border-color: #1a46ad !important;
  --submit-button-background-color: #3867d6 !important;
  --submit-button-color: #ffffff !important;
  --graph-opacity: 1 !important;
  --graph-filter: none !important;
}
